<div>
  <div>
    <h1>
      Your Magic Chef at your service
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Please use me to find a great recipes for the ingredients that you have at home
    </h3>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="ingredient_box">
        <div>
          Put your ingredients here:
        </div>
        </label>
        <input type="text" id="ingredient_box" name="query_ingredient" placeholder="1 Tomato, 2 onions,...">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Ingredient
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          User ID
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.id %>
        </td>

        <td>
          <%= a_recipe.ingredient %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_recipe.updated_at) %> ago
        </td>
        <td>
          <%= a_recipe.user_id %>
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
