<div>
  <div>
    <h1>
      Your Magic Chef
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      I'm a superpowered Magic Chef who will help you create great recipes with your home ingredients
    </h3>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="ingredient_box">
        <div>
          Please, let me know the ingredients that you want to use:
        </div>
        </label>
        <input type="text" id="ingredient_box" name="query_ingredient" placeholder="1 Tomato, 2 onions,...">
      </div>

      <button class="btn btn-success">
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Created at</th>
      <th scope="col">User name</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>

  <tbody>
  <% @list_of_recipes.each do |a_recipe| %>
    <tr>
      <th scope="row"><%= a_recipe.ingredient %></th>
      <td><%= time_ago_in_words(a_recipe.created_at) %> ago</td>
      <td><%= a_recipe.user.first_name %></td>
      <td><%= time_ago_in_words(a_recipe.updated_at) %> ago</td>
      <th>           <a href="/recipes/<%= a_recipe.id %>">
            Show recipe
          </a></th>
    </tr>
     </tbody>
      <% end %>
    </table>
  </div>
</div>

<hr>
