<div>
  <div>
    <h1>
      Your Magic Chef
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h4>
      I'm a superpowered AI Chef who will help you create great recipes with your home ingredients
    </h4>

    <div style="text-align: center;">
      <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/4-italian-chef-csa-images.jpg" width="250" style="text-align: center;">
    </div>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="ingredient_box">
        <div>
          Please, let me know the ingredients that you want to use:
        </div>
        </label>
               <div padding: 25px 50px 75px;>
        <input type="text" id="ingredient_box" name="query_ingredient" placeholder="1 Tomato, 2 onions,..." class="form-control">
                </div>
      </div>

      <div>
      <button class="btn btn-success" style="topmargin: 100;">
        Create recipe
      </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Created at</th>
      <th scope="col">User name</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>


    <h1>
      Public Recipes
    </h1>


  <tbody>
  <% @list_of_recipes.each do |a_recipe| %>
    <tr>
      <th scope="row"><%= a_recipe.ingredient %></th>
      <td><%= time_ago_in_words(a_recipe.created_at) %> ago</td>
      <td><%= a_recipe.user.first_name %></td>
      <td><%= time_ago_in_words(a_recipe.updated_at) %> ago</td>
      <th>           <a href="/recipes/<%= a_recipe.id %>">
            Show recipe
          </a></th>
    </tr>
     </tbody>
      <% end %>
    </table>
  </div>
</div>

<hr>
